@model OrganizMvc.Models.IntegranteViewModel
@{
    ViewBag.Title = "Novo Integrante";
}

@if (@TempData["Mensagem"] != null)
{
    <div class="alert alert-success" role="alert">
        @Html.Raw(TempData["Mensagem"])</div>
}
@if (@TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @Html.Raw(TempData["MensagemErro"])</div>
}

<h2>Criar um Novo Integrante</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Retornar", "Index")
</div>